SERVER_IP=165.22.124.111
APP_URL=https://165.22.124.111
REACT_APP_API_URL=https://165.22.124.111
DB_PASSWORD=vodacom_secret_2026

# Selcom payment gateway
SELCOM_API_KEY=MOBIAD-BAE4439D874CAFF7
SELCOM_API_SECRET=8PE3412A-7J3F0K7F-2A254AF-0P636D54
SELCOM_VENDOR=TILL60917564
SELCOM_PIN=4470
SELCOM_BASE_URL=https://apigw.selcommobile.com/v1
SELCOM_WEBHOOK_URL=https://165.22.124.111/api/v1/callbacks/selcom
SELCOM_REDIRECT_URL=https://165.22.124.111/api/v1/callbacks/selcom/finalize
SELCOM_CANCEL_URL=https://165.22.124.111/api/v1/callbacks/selcom/cancel
